---
layout: default
---
<h1># PERHATIAN !, untuk UAS Pemrograman Game</h1> 
<h2># Yang perlu Dipersiapkan untuk ujian UAS Pemrograman Game:</h2>
<ol>
<li>Sifat Ujian : Boleh Buka buku, catatan, dan internet </li>
<li>Bawa Laptop masing2 yang sudah siap pakai ( terinstall python dan pygame ),</li>
<li>Kerjakan Sendiri2 dari awal ujian sampai memasukkan hasil uajiannya ke github dan dilarang kerja sama </li>
<li>Harus Terkoneksi ke Internet saat ikut UAS di LAB, Siapkan paket data, atau patungan untuk beberapa orang supaya bisa digunakan konek internet. </li>
<li>Hasil UAS HARUS sudah dimasukkan ke github begitu waktu UAS di LAB selesai, </li>
<li>TIDAK menerima ALASAN teknis seperti Python belum terinstall, atau PyGame Belum Terinstall, atau tidak bisa konek internet (ke github) dll.  </li>
<li>Yang GAGAL memasukkan hasil ujiannya sampai waktu Ujian UAS di LAB Selesai, akan UJIAN ULANG dengan soal yang berbeda dari soal yang didapat saat UAS di LAB. </li>
<li>FILE HASIL UAS disimpan ke github dengan NAMA FILE : <code class="highlighter-rouge">No1_UAS_NPM.py</code> (contoh : <code class="highlighter-rouge">No1_UAS_16001.py</code>), sesuaikan "No1" dengan nomor soal UASnya </li>
<!--<li>Ketentuan SCORE NILAI UAS per SOAL : code error score 25, code ok score 45, code ok dan sesuai dengan gambar (atau mendekati mirip) score dari 46 s/d 99. </li>-->
<!--<li> </li>-->
 
</ol>
<b>Sekian,... HARAP DIPERHATIKAN...!.</b><br />
<br />
<b>***<br />
Gambaran Soal UASnya</b>, anda diminta menulis kembali code yang ada di soal dan lengkapi kode itu sehingga membentuk gambar garis sebagaimana yang terlihat di soal.<br />
<b>***</b>

<hr />
<!--yang ini TIDAK DIGUNAKAN, original dari hacker-blog themes-->
<!--<ul>-->
<!--    {% for post in paginator.posts %}-->
<!--      <li>-->
<!--          <h2><a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">{{ post.title }}</a></h2>-->
<!--          <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time>-->
<!--          <p>{{ post.content | strip_html | truncatewords:50 }}</p>-->
<!--      </li>-->
<!--    {% endfor %}-->
<!--</ul>-->


<!--yang dibawah ini yang digunakan -->
<ul>
	{% for post in site.posts limit:12 %}

	  <li class="post">
	  	<h2><a href="{% if site.baseurl == "/" %}{{ post.url }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}.html">{%if post.header %}{{ post.header }}{% else %}{{ post.title }}{% endif %}</a></h2>
      <time datetime="{{ post.date | date_to_xmlschema }}" class="by-line"> <i>{{ post.date | date_to_string }}</i> | {{post.categories}}</time> 
	  	 <p>{{ post.content | strip_html | truncatewords:60 }}</p> 
	  </li>

    {% endfor %} 
</ul>
<hr>

