---
layout: default
---


<h2>Info !, Praktikum ke-10 Take Home </h2>


<p>
<b>Catatan : </b><br />
<ul><li>Untuk Praktikum ke-10, anda diminta untuk mengerjakan materi praktikumnya dirumah masing-masing, silahkan ketikkan code latihan 10.1 dan 10.2 setelah itu jalankan dan pastikan berjalan tanpa error, lalu upload ke akun github.com anda. Jangan lupa untuk memberikan nama file sesuaikan dengan nama file yang diinstruksikan dalam modul praktikum ke-10.</li></ul>

</p>

<hr />
<!--yang ini TIDAK DIGUNAKAN, original dari hacker-blog themes-->
<!--<ul>-->
<!--    {% for post in paginator.posts %}-->
<!--      <li>-->
<!--          <h2><a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">{{ post.title }}</a></h2>-->
<!--          <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time>-->
<!--          <p>{{ post.content | strip_html | truncatewords:50 }}</p>-->
<!--      </li>-->
<!--    {% endfor %}-->
<!--</ul>-->


<!--yang dibawah ini yang digunakan -->
<ul>
	{% for post in site.posts limit:12 %}

	  <li class="post">
	  	<h2><a href="{% if site.baseurl == "/" %}{{ post.url }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}.html">{%if post.header %}{{ post.header }}{% else %}{{ post.title }}{% endif %}</a></h2>
      <time datetime="{{ post.date | date_to_xmlschema }}" class="by-line"> <i>{{ post.date | date_to_string }}</i> | {{post.categories}}</time> 
	  	 <p>{{ post.content | strip_html | truncatewords:60 }}</p> 
	  </li>

    {% endfor %} 
</ul>
<hr>

